<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.microhealthllc.bmr_calculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Main">
        <activity
            android:name=".BasicSettings"
            android:label="@string/title_activity_basic_settings"
            android:theme="@style/NoActionBar" />
        <activity android:name=".BmiChart" />
        <activity android:name=".LogActivity" />
        <activity android:name=".BmiChartBloodRed" />
        <activity android:name=".BmiChartOrange" />
        <activity android:name=".BmiChartRed" />
        <activity android:name=".BmiChartyellow" />
        <activity android:name=".EnterBMIINfo" />
        <activity android:name=".About" />
        <activity android:name=".EnterBMIINfo_kgm" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"></activity>
        <activity
            android:name=".newactivities.SignInActivity"
            android:theme="@style/Topeka.SignInActivity"
            android:parentActivityName=".newactivities.SignInActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".newactivities.SignInActivity" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BmrActivity"

            android:theme="@style/Theme.Design.Light.NoActionBar"></activity>

        <activity android:name=".newactivities.BMrDisplayActivity"
            android:parentActivityName=".newactivities.SignInActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".newactivities.SignInActivity" />
        </activity>
    </application>

</manifest>